body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.todo-container {
    background-color: #8d8787;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

#task-input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#add-task-btn, #save-tasks-btn {
    padding: 10px 20px;
    background-color: #722f15;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
    font-size: 15px;
}

#add-task-btn:hover, #save-tasks-btn:hover {
    background-color: #218838;
}

#task-list {
    list-style-type: number;
    padding: 0;
    margin-top: 20px;
}

#task-list li {
    background-color: #f8f9fa;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#task-list li.completed .task-text {
    text-decoration: line-through;
    color: #888;
}

.tick-btn, .delete-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
    border: 1px solid #ddd;
}

.tick-btn {
    color: #28a745;
}

.delete-btn {
    color: #dc3545;
}

.delete-btn:hover {
    background-color: #dc3545;
    color: #fff;
}

.tick-btn:hover {
    background-color: #28a745;
    color: #fff;
}